
[Desktop Entry]
Version=1.0
Name=MyOntarioTech -App 
Comment=Launch MyOntarioTech in Google Chrome
Exec=google-chrome-stable --app=https://my.ontariotechu.ca/
Icon=google-chrome
Terminal=false
Type=Application
Categories=Network;WebBrowser;
